<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Food Stores</title>
        <link href="{% static 'css/picture.css' %}" rel="stylesheet">
    </head>
    <body>
        <div>
            <h1><a href="/back">Order Your Groceries Today</a></h1>
        </div>
        <img src="{% static "css/fly.jpg" %}" alt="my pictures">
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                 <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
              </body>
</html>